[Unit]
Description=XXE demo service
After=network-online.target

[Service]
Type=simple

ExecStart=/usr/bin/java -jar /vagrant/target/xxe-demo-0.0.1-SNAPSHOT.jar

Restart=on-failure

[Install]
WantedBy=multi-user.target